.bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  z-index: -1;
}
.home {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    113.23deg,
    rgba(57, 55, 55, 0.65) 10.84%,
    rgba(72, 56, 56, 0.53) 88.86%
  );
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
  padding-top: 4rem;
  flex-direction: column;
  @media only screen and (max-width: 56.25em) {
    padding-top: 6rem;
  }
}
h2 {
  font-weight: 300;
  color: #ffffff;
  font-size: 3rem;
  line-height: 100%;
  letter-spacing: -0.08em;
  @media only screen and (max-width: 56.25em) {
    font-size: 2.4rem;
    letter-spacing: -0.001em;
  }
}
h1 {
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  font-size: 4rem;
  line-height: 100%;
  font-size: 3.4rem;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sectiontext {
  font-size: 2rem;
  font-weight: 200;
  width: 50%;
  // margin-left: 8rem;
  margin-top: 5rem;

  color: #ffffffd3;
  letter-spacing: -0.009em;
  text-align: center;
  @media only screen and (max-width: 56.25em) {
    width: 90%;
    margin-top: 6rem;
  }
  span {
    display: block;

    font-size: 2rem;
    font-weight: 500;
  }
}
.footerText {
  //position: absolute;
  ///bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  height: 4rem;
  color: #ffffff;
}

.booknow {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
  outline: none;
  border: 1.5px solid #ffffff;
  margin-top: 4rem;
  padding: 1rem 2rem;
  background-color: #ffffff15;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #ffffff;
  &:hover {
    cursor: pointer;
    background-color: #ffffff48;
  }
  @media only screen and (max-width: 56.25em) {
    margin-top: 5rem;
  }
}
